#content {
    margin: 60px 0 0 0;
}

#sign-form{
    right: 200px;
    position: absolute;
    width: 260px;
    margin: 50px 150px 0 0;
}

#page{
    padding-bottom: 20px;
}

.pager{
    margin: 20px 0;
    text-align: center;
    list-style: none;
    height: 50px;
    width: 400px;
    padding-left: 200px;
}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
}

.pager ul li a {
    color: #777777;
}

.label a {
    color: #fff;
}

span a {
    color: #fff;
}

span a:hover {
    text-decoration: none;    
}

.badge-info {
    margin: 0 4px;
}